image:
  repository: cloudflare/cloudflared
  pullPolicy: Always
  tag: "latest"

secret:
  name: cloudflared-token
  key: token

resources:
  requests:
    cpu: 10m
    memory: 64Mi
  limits:
    cpu: 100m
    memory: 128Mi
