apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: legibit
  labels:
    app: legibit
    component: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: legibit
      component: backend
  template:
    metadata:
      labels:
        app: legibit
        component: backend
    spec:
      containers:
        - name: backend
          image: webserver0518/legi-bit-flask:v0.2
          ports:
            - containerPort: 9000
          envFrom:
            - configMapRef:
                name: backend-config
            #- secretRef:
            #    name: backend-secret
          resources:
            requests:
              cpu: "200m"
              memory: "256Mi"
            limits:
              cpu: "400m"
              memory: "512Mi"
          livenessProbe:
            httpGet:
              path: /healthz
              port: 9000
            initialDelaySeconds: 20
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /healthz
              port: 9000
            initialDelaySeconds: 10
            periodSeconds: 15
      restartPolicy: Always
