apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-deployment
  namespace: legibit
  labels:
    app: legibit
    component: redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: legibit
      component: redis
  template:
    metadata:
      labels:
        app: legibit
        component: redis
    spec:
      containers:
        - name: redis
          image: redis:7-alpine
          ports:
            - containerPort: 6379
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "150m"
              memory: "128Mi"
          livenessProbe:
            tcpSocket:
              port: 6379
            initialDelaySeconds: 10
            periodSeconds: 20
          readinessProbe:
            tcpSocket:
              port: 6379
            initialDelaySeconds: 5
            periodSeconds: 10
      restartPolicy: Always
