apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.configMapName }}
  labels:
    app.kubernetes.io/name: {{ include "backend.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: backend
data:
  FLASK_SERVER_PORT: "{{ .Values.port }}"
  FLASK_ENV: "{{ .Values.env }}"
  SECRET_KEY: "{{ .Values.secretKey }}"

  SESSION_TYPE: "redis"
  REDIS_HOST: "{{ .Values.global.services.redis.host }}"
  REDIS_PORT: "{{ .Values.global.services.redis.port }}"
  REDIS_DB: "{{ .Values.global.services.redis.db }}"
  SESSION_REDIS_URL: "redis://{{ .Values.global.services.redis.host }}:{{ .Values.global.services.redis.port }}/{{ .Values.global.services.redis.db }}"

  S3_SERVICE_URL: "http://{{ .Values.global.services.s3.host }}:{{ .Values.global.services.s3.port }}"
  MONGODB_SERVICE_URL: "http://{{ .Values.global.services.mongodb.host }}:{{ .Values.global.services.mongodb.port }}"
  SES_SERVICE_URL: "http://{{ .Values.global.services.ses.host }}:{{ .Values.global.services.ses.port }}"
