apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.backend.configMapName }}
  labels:
    app: {{ include "legi-bit.name" . }}
    component:  backend
data:
  FLASK_SERVER_PORT: "{{ .Values.backend.port }}"
  FLASK_ENV: "{{ .Values.backend.env }}"
  SECRET_KEY: "{{ .Values.backend.secretKey }}"
  SESSION_TYPE: "redis"
  REDIS_HOST: "{{ .Values.redis.host }}"
  REDIS_PORT: "{{ .Values.redis.port }}"
  REDIS_DB: "{{ .Values.redis.db }}"
  SESSION_REDIS_URL: "redis://{{ .Values.redis.host }}:{{ .Values.redis.port }}/{{ .Values.redis.db }}"

  S3_SERVICE_URL: "http://{{ .Values.serviceS3.host }}:{{ .Values.serviceS3.port }}"
  MONGODB_SERVICE_URL: "http://{{ .Values.serviceMongodb.host }}:{{ .Values.serviceMongodb.port }}"
  SES_SERVICE_URL: "http://{{ .Values.serviceSes.host }}:{{ .Values.serviceSes.port }}"