apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: legibit-ingress
  namespace: legibit
  labels:
    app: legibit
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: nginx
  rules:
    - host: legi-bit.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: web-service
                port:
                  number: 80
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: backend
                port:
                  number: 9091
